.completed-activities {
  padding: 20px;
  margin-right: 81px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Inter', sans-serif;
  height: 92%;
  max-height: 600px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.header .count {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.activity-list {
  border-radius: 5px;
  background-color: #f4f4f4;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #666;
}

.header .count {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.activity-card {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.activity-card.pending{
  background-color: #02B84E;
}

.activity-card.inprogress{
  background-color: #028D3C;
}

.activity-card.completed{
  background-color: #015E27;
}

.activity-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-right: 15px;
  color: #DCDDE0;
}

.activity-info {
  flex-grow: 1;
}

.activity-info h4 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  color: #DCDDE0;
}

.activity-info p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #DCDDE0;
  font-family: Inter, sans-serif;
}

.activity-status {
  display: flex;
  align-items: center;
}

.activity-status span {
  margin-right: 10px;
}

.activity-status select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.activity-status select:focus {
  outline: none;
  background-color: inherit;
}

.vertical-line {
  width: 5px;
  height: 140%;
  margin-right: 20px;
  background-color: #fff;
}

.custom-select::-ms-expand {
  display: none; /* Remove a seta padrão no IE */
}

.activity-status select::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  background-color: inherit;
  pointer-events: none;
  color: #fff;
}
